// :root {
//     --main-text-color: #ffffff;
//     --common-text: #757575;
//     --title-text-color: #212121;
//     --active-color: #2196f3;
//     --button-background: #f5f4fa;
//     --footer-background: #2f303a;
//     --frame-border-color: #EEEEEE;
// }
$activeColor: #2196f3;
$frameColor: #EEEEEE;
$commonText: #757575;
$btnBkg: #f5f4fa;
$ftrBkg: #2f303a;
$titleColor: #212121;
$txtColor: #ffffff;