.hidden-heading {
    visibility: hidden;
}

.features-set {
    margin-bottom: -30px;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    }
}

.features-set__item {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);

    }
}

.features-set__item:not(:last-child) {
    margin-right: 30px;
}

.features-set__title {
    margin-bottom: 10px;

    text-align: center;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $titleColor;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features-set__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $commonText;
}

.features-set__icon {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 25px 100px;

    background-color: $btnBkg;
}