.page-header {
    position: relative;
    border-bottom: 1px solid $frameColor;
}

.page-header .container {
    @media screen and (max-width: 767px) {
        padding: 16px 15px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }
}

.nav__logo {
    display: inline-block;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $titleColor;
}

.nav__logo-header {
    color: $activeColor;
}

.nav-adress {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: auto;

    }

    @media screen and (min-width: 1200px) {
        flex-direction: unset;
    }

    &__link-adress {
        display: flex;
        align-items: center;
            @media screen and (min-width: 1200px) {
                &:first-child {
                    margin-right: 30px;
                }
            }

        &:hover,
        &:focus {
            color: $activeColor;
        }

        &:hover svg,
        &:focus svg {
            fill: $activeColor;
        }
    }

    &__icon {
        margin-right: 10px;
        fill: $commonText;
        cursor: pointer;
    }


    // &>.nav__item:not(:last-child) {
    //     margin-right: 50px;
    // }
}

.nav-adress__link-adress {
    color: $commonText;
}

// .mob-modal {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     padding: 48px 40px;
//     background-color: $btnBkg;
// }

// .mob-menu-btn {
//     border: none;
//     background-color: transparent;
//     margin-left: auto;
//     cursor: pointer;

//     &:hover,
//     &:focus {
//         fill: $activeColor;
//     }

//     &.close {
//         position: absolute;
//         top: 21px;
//         right: 25px;
//     }

//     @media screen and (min-width: 768px) {
//         display: none;
//     }
// }

// .menu-list {

//     font-weight: 500;
//     font-size: 40px;
//     line-height: 47px;
//     letter-spacing: 0.02em;

//     &__item:not(:last-child) {
//         margin-bottom: 32px;
//     }

//     &__link {
//         color: $commonText;
//         text-decoration: none;
//     }

//     &__current {
//         color: $activeColor;
//     }
// }

// .menu-list-contact {
//     &__link--mail {
//         display: inline-block;
//         margin-bottom: 32px;
//         font-weight: 500;
//         font-size: 34px;
//         line-height: 1.18;
//         letter-spacing: 0.02em;
//         color: $activeColor;
//         text-decoration: none;
//         cursor: pointer;
//     }

//     &__link--tel {
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 28px;
//         letter-spacing: 0.02em;
//         text-decoration: none;
//         color: $commonText;
//         cursor: pointer;
//     }
// }

// .mob-menu-social {
//     display: flex;
//     margin-top: 64px;

//     &__link {
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 1.22;
//         letter-spacing: 0.02em;
//         color: $activeColor;
//         text-decoration: none;
//     }

//     &__item:not(:last-child) {
//         margin-right: 10px;
//         display: flex;

//         &::after {
//             content: '';
//             height: 100%;
//             width: 1px;
//             background-color: rgba(33, 33, 33, 0.2);
//             display: block;
//             margin-left: 10px;
//         }
//     }
// }

.nav-menu {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 80px;
        // margin-right: 80px;
            &__item:not(:last-child) {
                margin-right: 50px;
            }

            &__link {
                display: block;
                padding-top: 32px;
                color: $commonText;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                text-decoration: none;
            }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $titleColor;
            &:hover,
            &:focus {
            color: $activeColor;
        }
        &_active {
            color: $activeColor;
        }
        &_active::after {
            display: flex;
            content: '';
            margin-top: 28px;
            margin-bottom: -1px;
            border-bottom: 4px solid $activeColor;
            border-radius: 2px;
        }
    }
}
}





// .nav__link,
// .nav-adress__link-adress {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     color: $titleColor;

//     &:hover,
//     &:active,
//     &:focus {
//         color: $activeColor;
//     }
// }




// .nav-menu {
//     display: flex;
//     margin-left: 93px;
// }

// .nav__link.nav__link_active {
//     position: relative;
//     color: $activeColor;

//     &::after {
//         position: absolute;
//         bottom: -32px;
//         content: "";
//         display: block;
//         width: 100%;
//         height: 4px;
//         background-color: $activeColor;
//         border-radius: 2px;
//     }
// }

// .nav-menu>.nav__item:not(:last-child) {
//     margin-right: 50px;
// }

// address header


// .adress-list {
//     padding-top: 20px;
//     // padding-bottom: 60px;

//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 24px;
//     letter-spacing: 0.03em;

//     color: $txtColor;

//     &__link {
//         font-style: normal;
//         font-weight: normal;
//         font-size: 14px;
//         line-height: 24px;
//         letter-spacing: 0.03em;

//         color: rgba(255, 255, 255, 0.6);
//     }

//     &__item:not(:last-child) {
//         margin-bottom: 9px;
//     }
// }

// mobile modal styles
